.header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #808080;
}

.header__link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.header__link:hover {
  background-color: #494949;
}

.header__link--active {
  background-color: #000000;
  color: white;
}
