.footer {
  background-color: #000000;
  padding: 3rem;
  margin-top: auto;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.footer__link {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.3s ease;
}
